.hero-container {
    position: relative;
    width: 100vw;
    height: 85vh;
    margin-top: -10px;
    overflow: hidden;
}

.hero-slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

.hero-slide {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* hilangkan opacity karena kita akan geser */
    position: relative;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25vw;
}

.hero-content {
    color: #fff;
    text-align: left;
    max-width: 700px;
    padding: 20px;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
}

.hero-date {
    font-size: 1rem;
    color: #ffda79;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: capitalize;
}

/* Tombol navigasi */
.hero-prev, .hero-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #bababa;
    border: none;
    padding: 10px 18px;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    transition: background-color 0.3s ease;
}

.hero-prev:hover, .hero-next:hover {
    background-color: rgba(0,0,0,0.7);
}

.hero-prev {
    left: 20px;
}

.hero-next {
    right: 20px;
}
